.saracart-logo {
  width: auto;
  /* margin-top: 2rem; */
  height: 2rem;
  /* margin-bottom: -2rem; */
  /* background-color: black; */
  border-radius: 10px;
  margin-right: 5rem;
  text-decoration: none;
  /* margin: 8px 8px 0px 8px; */
}

.saracart-logo a {
  text-decoration: none;
  font-size: 1.5rem;
}

.saracart-logo span {
  font-size: 2rem;
  color: #b80f6c;
  font-weight: 900;
  text-decoration: none;
}

.bg-secondary {
  /* background-color: #2874f0; */
  /* background-color: rgba(249, 212, 78, 0.985); */
  background-color: white;

  padding: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid black;
  border-color: lightgray;
  /* box-shadow: 5px 1px black;
   */
  box-shadow: 10px 2px 6px #888888;
}
.header-title {
  margin-right: 1rem;
  text-align: center;
  margin-top: 4px;
  font-weight: bolder;
}
.title-star {
  margin-left: 4px;
  padding-right: 2rem;
  width: 15px;
}

.home-col-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* span{
    /* color: rgb(225, 198, 129); */

/* .home-btn img {
  height: 2rem;
} */

.home-btn,
.cart-btn {
  padding: 0.5rem;
  /* background-color: rgba(18, 136, 85, 0.854); */
  background-color: #b80f6c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.form-control {
  border-radius: 4px;
  padding: 4px;
  min-width: 20rem;
}
.home-btn,
.cart-btn,
.form-control {
  margin: 8px 8px 0px 8px;
}

i {
  padding-right: 8px;
}
.logout-button {
  padding: 0.5rem 1rem;
  /* background-color: rgba(18, 136, 85, 0.854); */
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
